@import url('https://fonts.googleapis.com/css2?family=Redressed&family=Merriweather:wght@300;400;700&display=swap');

.gallery{
    background: #f9f9f9;
}
.gallery-details{
    margin-top:117px;
    margin-bottom:109px;
}
.gallery-content {
    margin-top:62px;
}

.gallary-header h2{
    position:relative;
    color:#565a5c;  
    font-size:30px;
    font-weight:500;
    text-transform:capitalize;
    font-family: 'Poppins', sans-serif;
    padding-bottom:14px;
}
.gallary-header p{
    position:relative;
    color:#aaa;  
    font-size:16px;
    font-family: 'Poppins', sans-serif;
    margin-top: 17px;
}

.vogare-item {
	margin: 13px;
	padding: 0;
    box-shadow: 0 0 20px rgb(0 0 0 / 10%);
	BORDER-RADIUS: 40px;
}

.redressed {
	font-family: 'Redressed', cursive;
}

.merriweather {
	font-family: 'Merriweather', serif;
}

.cc-navbar {
	background-color: rgba(0, 0, 0, 0.55);
	font-family: 'Merriweather', serif;
	box-shadow: 1px 1px 3px rgba(255, 255, 255, 0.54);
	z-index: 99;

}

.cc-navbar .nav-link {
	border-bottom: 1px solid transparent;
	transition: padding-bottom 0.4s ease-in-out, border-color 0.3s ease;
}
.bg{
    background: white;
    border-radius: 12px;
    padding: 39px 9px;
}
.cc-navbar .nav-link:hover {
	padding-bottom: 20px !important;
	border-bottom-color: var(--bs-teal) !important;
}

.banner,
.order-form {
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/AGADIR.jpg') center center fixed no-repeat;
	background-size: cover;
	height: 800px;
}

.order-form {
	height: 500px;
}

.banner .banner-desc h1 {
	font-size: 48px;
	font-weight: 400;
	color: #fff;
}

.cc-menu {
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/thailande.jpg') center center fixed no-repeat;
	background-size: cover;
	height: 1200px;
}

.btn-order {
	color: var(--bs-teal) !important;
	border-color: var(--bs-teal) !important;
	transition: 0.5s !important;
}
.btn-order2{
	background-color:var(--bs-teal) !important ;
	color:#fff !important;
	border-color: var(--bs-teal) !important;
	transition: 0.5s !important;

}

.btn-order:hover,
.btn-order:focus,
.btn-order:active {
	color: #fff !important;
	background-color: var(--bs-teal) !important;
}
