<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link href="css/bootstrap.min.css" rel="stylesheet" >
    <link rel="stylesheet" href="css/style.css">

</head>
<body >
    <main>
        <div  class="container-fluid ">
         <div class="row justify-content-center ">
             <div class="col-12 col-sm-12 col-md-6 col-lg-3">
                    <form class="from-container">
                        <div class="form-group"> 
                                    
                            <div class="mb-4">
                                <h1>E-classe</h1>
                                <div  class="justify-content-centre">
                                    <h2 >SIGN IN</h2>
                                    <p>Enter your credentials to acces your account</p>
                                </div>
                            </div>    
                            <div class="mb-4">
                                <label>Email </label>
                                <input type="email" class="form-control" placeholder="ENTER YOUR EMAIL" >
                            
                            </div>
                                <div class="mb-4">
                                <label>Password</label>
                                <input type="password" class="form-control" placeholder="ENTER YOUR EMAIL PASSWORD">
                            </div>
                            <div class="mb-4">
                                <button  type="button" onclick=window.location.href='liste.html' class="btn-info  " style=" width: 100%;" >
                                    sign in
                                </button>
                            
                            </div>
                            <div class="mb-3">
                                <label>Forgot your password <a href="#"> Reset password</a></label>

                            </div>                               
                        </div>
                    </form>     
              </div>
          </div>     
            
        </div>
    </main>
 </body>
</html>