
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>student</title>
    <link href="css/bootstrap.min.css" rel="stylesheet" >

    <link  href="css/dashboord.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />



</head>
<body class="row">
  <main>
    <div class="d-flex font-weight-400" id="dashboard">

      <div class="bg" id="sidebar-dashboard">
              
        <div class="m-2 dark-text fs-4 fw-bold border-start border-5 border-info px-2">
          <h1> E-classe </h1>
       </div>
        <div class="list-group ">
          <img src="img/profile.jpg" alt="profile picture"
              class=" profile img-fluid rounded-circle mx-auto d-block my-2 p-1 ">
          <div class="text-center ">
              <h2> Admin name </h2>
              <span class=" text-info fs-4">Admin</span>
          </div>
          
            <a href="liste.html" class="list-group-item mx-5 border-0  bg-transparent mt-3  ">
                <i class="fas fa-home"></i> Home</a>
            <a href="#" class="list-group-item mx-5 border-0 bg-transparent ">
                <i class="far fa-bookmark"></i> Course </a>
            <a href="student.html" class="list-group-item mx-5 border-0 bg-info rounded-3  ">
                <i class="fas fa-graduation-cap"></i> Students</a>
            <a href="payement.html" class="list-group-item mx-5 border-0 bg-transparent ">
                <i class="fas fa-dollar-sign "></i> Payment </a>
            <a href="#" class="list-group-item mx-5 border-0 bg-transparent ">
                <i class="far fa-file-alt"></i> Report </a>
            <a href="#" class="list-group-item mx-5 border-0 bg-transparent ">
                <i class="fas fa-sliders-h"></i> Settings</a>
            <a href="index.html" class="list-group-item mx-5 border-0 bg-transparent  mt-5 mb-2 ">
                Logout <i class="fas fa-sign-out-alt"></i> </a>
          </div>

    
        </div>
    
     <div id="page-content-dashboard">

    
      <div class=" py-0  ">
      
        <nav class="navbar navbar-expand-lg navbar-light  py-1 px-4">
          <div class="d-flex align-items-center">
              <i class="fas fa-chevron-circle-left  me-3" id="menu-toggle"></i>
          </div>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler"
              aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>

          </button>
          <div class="collapse navbar-collapse" id="navbarToggler">
              <div class="navbar-nav ms-auto">
                  <div class="nav-item dropdown">
                      <form class="d-flex  justify-content-end mt-3 ">
                          <input class="form-control me-2 " type="search" placeholder="Search..."
                              aria-label="Search">
                          <i class="fas fa-bell  mt-2 ml-2"></i>
                      </form>
                  </div>
              </div>
          </div>
      </nav>
                
      </div>
        
      <div class=" py-2">
            <div >
             <div class="d-flex justify-content-between border-bottom ">   
                <a href="#" class="navbar-brand  fs-4 fw-bold text-dark px-2 ">Student List</a>
                <form class="d-flex my-2 px-3 ">
                  <i class="fas fa-sort mx-4 " style="font-size:48px;color:#00C1FE ;" ></i>
                  <button class="form-control me-2 bg-info text-light px-3 "><span>ADD NEW STUDENT</span> </button>
                </form>
                            
              </div>
            </div>
            <div class=" table-responsive-sm table-responsive-md py-3">
              <table class="table bg-white table-borderless table-hover mx-3 ">
                <thead>
                  <tr class="bg_table text-table ">
                    <th></th>
                    <th >Name</th>
                    <th >Email</th>
                    <th >Phone</th>
                    <th >Enroll Number</th>
                    <th >Date of admission</th>
                    <th></th>
                    <th></th>
      
                  </tr>
                </thead>
                <tbody class="font-weight-400">     
                    <tr>
                      <th><img src="img/86bc08c6e40f8d41ee54bd655ffbc696.jpg" alt="p" style="WIDTH: 10vh;"></th>
                      <td>Uername</td>
                      <td>user@gmail.com</td>
                      <td>12333445</td>
                      <td>123456789</td>
                      <td>08-DEC,2021</td>
                      <td  ><i class="fas fa-pen  " style="font-size:28px;color:#00C1FE ;"></i></td>
                      <td ><i class="fas fa-trash "  style="font-size:28px;color:#00C1FE ;"></i></td>
                    </tr>
                    <tr>
                      <th><img src="img/86bc08c6e40f8d41ee54bd655ffbc696.jpg" alt="p" style="WIDTH: 10vh;"></th>
                      <td>Uername</td>
                      <td>user@gmail.com</td>
                      <td>12333445</td>
                      <td>123456789</td>
                      <td>08-DEC,2021</td>
                      <td  ><i class="fas fa-pen  " style="font-size:28px;color:#00C1FE ;"></i></td>
                      <td ><i class="fas fa-trash "  style="font-size:28px;color:#00C1FE ;"></i></td>
                    </tr>
                    <tr>
                      <th><img src="img/86bc08c6e40f8d41ee54bd655ffbc696.jpg" alt="p" style="WIDTH: 10vh;"></th>
                      <td>Uername</td>
                      <td>user@gmail.com</td>
                      <td>12333445</td>
                      <td>123456789</td>
                      <td>08-DEC,2021</td>
                      <td  ><i class="fas fa-pen  " style="font-size:28px;color:#00C1FE ;"></i></td>
                      <td ><i class="fas fa-trash "  style="font-size:28px;color:#00C1FE ;"></i></td>
                    </tr>
                    <tr>
                      <th><img src="img/86bc08c6e40f8d41ee54bd655ffbc696.jpg" alt="p" style="WIDTH: 10vh;"></th>
                      <td>Uername</td>
                      <td>user@gmail.com</td>
                      <td>12333445</td>
                      <td>123456789</td>
                      <td>08-DEC,2021</td>
                      <td  ><i class="fas fa-pen  " style="font-size:28px;color:#00C1FE ;"></i></td>
                      <td ><i class="fas fa-trash "  style="font-size:28px;color:#00C1FE ;"></i></td>
                    </tr>
                    <tr>
                      <th><img src="img/86bc08c6e40f8d41ee54bd655ffbc696.jpg" alt="p" style="WIDTH: 10vh;"></th>
                      <td>Uername</td>
                      <td>user@gmail.com</td>
                      <td>12333445</td>
                      <td>123456789</td>
                      <td>08-DEC,2021</td>
                      <td  ><i class="fas fa-pen  " style="font-size:28px;color:#00C1FE ;"></i></td>
                      <td ><i class="fas fa-trash "  style="font-size:28px;color:#00C1FE ;"></i></td>
                    </tr>
                    <tr>
                      <th><img src="img/86bc08c6e40f8d41ee54bd655ffbc696.jpg" alt="p" style="WIDTH: 10vh;"></th>
                      <td>Uername</td>
                      <td>user@gmail.com</td>
                      <td>12333445</td>
                      <td>123456789</td>
                      <td>08-DEC,2021</td>
                      <td  ><i class="fas fa-pen  " style="font-size:28px;color:#00C1FE ;"></i></td>
                      <td ><i class="fas fa-trash "  style="font-size:28px;color:#00C1FE ;"></i></td>
                    </tr>
                    <tr>
                      <th><img src="img/86bc08c6e40f8d41ee54bd655ffbc696.jpg" alt="p" style="WIDTH: 10vh;"></th>
                      <td>Uername</td>
                      <td>user@gmail.com</td>
                      <td>12333445</td>
                      <td>123456789</td>
                      <td>08-DEC,2021</td>
                      <td  ><i class="fas fa-pen  " style="font-size:28px;color:#00C1FE ;"></i></td>
                      <td ><i class="fas fa-trash "  style="font-size:28px;color:#00C1FE ;"></i></td>
                    </tr>
                    <tr>
                      <th><img src="img/86bc08c6e40f8d41ee54bd655ffbc696.jpg" alt="p" style="WIDTH: 10vh;"></th>
                      <td>Uername</td>
                      <td>user@gmail.com</td>
                      <td>12333445</td>
                      <td>123456789</td>
                      <td>08-DEC,2021</td>
                      <td  ><i class="fas fa-pen  " style="font-size:28px;color:#00C1FE ;"></i></td>
                      <td ><i class="fas fa-trash "  style="font-size:28px;color:#00C1FE ;"></i></td>
                    </tr>
                    <tr>
                      <th><img src="img/86bc08c6e40f8d41ee54bd655ffbc696.jpg" alt="p" style="WIDTH: 10vh;"></th>
                      <td>Uername</td>
                      <td>user@gmail.com</td>
                      <td>12333445</td>
                      <td>123456789</td>
                      <td>08-DEC,2021</td>
                      <td  ><i class="fas fa-pen  " style="font-size:28px;color:#00C1FE ;"></i></td>
                      <td ><i class="fas fa-trash "  style="font-size:28px;color:#00C1FE ;"></i></td>
                    </tr>
                    <tr>
                      <th><img src="img/86bc08c6e40f8d41ee54bd655ffbc696.jpg" alt="p" style="WIDTH: 10vh;"></th>
                      <td>Uername</td>
                      <td>user@gmail.com</td>
                      <td>12333445</td>
                      <td>123456789</td>
                      <td>08-DEC,2021</td>
                      <td  ><i class="fas fa-pen  " style="font-size:28px;color:#00C1FE ;"></i></td>
                      <td ><i class="fas fa-trash "  style="font-size:28px;color:#00C1FE ;"></i></td>
                    </tr>
                </tbody>
              </table>
            </div> 
         </div>      
        </div> 
      </div>  
   </main> 
    
    <script src="js/bootstrap.bundle.min.js" ></script>
   
    <script>
      var el = document.getElementById("dashboard");
      var toggleButton = document.getElementById("menu-toggle");
  
      toggleButton.onclick = function () {
          el.classList.toggle("toggled");
      };
   </script>
 
</body>

</html>