:root{
  --Women: #6F42C1;
  --Man: #FD8520;
  --noting: rgb(218, 212, 205);
}
body{
  margin: 0px;
  padding: 0px;
  width: 100%;
  display: flex;
  justify-content: center;    
  align-items: center;
}
.circle {
position: relative;
display: inline-block;
width: 200px;
height: 200px;

/* cercle de mascul */
border: 30px solid var(--Man);
border-radius: 50%;
}
.circle >div {
top: -30px;
left: -30px;
position: relative;
width: 200px;
height: 200px;

/* cercle de femme */
border-right: 30px solid transparent;
border-bottom: 30px solid transparent;
border-left: 30px solid transparent;
border-top: 30px solid var(--Women);

border-radius: 50%;
transform: rotate(-50deg);
}
#col1{
  background-color: #c142a1;
}
.bg-image{
background-size: cover;
background-position: center;
background-repeat: no-repeat;
}
.contenant {
  position: relative;
  text-align: center;
  color: red;
}

.texte_centrer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
